{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="container-fluid bg-primary py-2">
  <a class="text-white mr-4" href="{{ url_for('main.index') }}">{% trans %}Home{% endtrans %}</a>
  <a class="text-white mr-4" href="{{ url_for('main.about') }}">{% trans %}About{% endtrans %}</a>
  <a class="text-white mr-4" href="{{ url_for('main.help') }}">{% trans %}Help{% endtrans %}</a>

  {% if get_sys_config(const.SYS_CONFIG_TERMS_OF_USE) %}
    <a class="text-white ws-nowrap mr-4" href="{{ url_for('main.terms_of_use') }}">
      {% trans %}Terms of use{% endtrans %}
    </a>
  {% endif %}

  {% if get_sys_config(const.SYS_CONFIG_PRIVACY_POLICY) %}
    <a class="text-white ws-nowrap mr-4" href="{{ url_for('main.privacy_policy') }}">
      {% trans %}Privacy policy{% endtrans %}
    </a>
  {% endif %}

  {% if get_sys_config(const.SYS_CONFIG_LEGAL_NOTICE) %}
    <a class="text-white ws-nowrap mr-4" href="{{ url_for('main.legal_notice') }}">
      {% trans %}Legal notice{% endtrans %}
    </a>
  {% endif %}

  {% for title, url in get_sys_config(const.SYS_CONFIG_NAV_FOOTER_ITEMS) %}
    <a class="text-white ws-nowrap mr-4" href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ title }}</a>
  {% endfor %}

  {{ template_hook("kadi_get_nav_footer_items") }}

  <hr class="d-block d-lg-none my-2">
  <locale-chooser id="base-locale-chooser"
                  cookie-name="{{ const.LOCALE_COOKIE_NAME }}"
                  :cookie-secure="{{ config['LOCALE_COOKIE_SECURE'] | tojson_escaped }}"
                  :locales="{{ const.LOCALES | tojson_escaped }}">
  </locale-chooser>
</div>
