{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "base.html" %}

{% from "variables.html" import legal_notices with context %}

{% block content %}
  <div class="card">
    <div class="card-body">
      {% trans legal_notices=legal_notices | safe %}
        Before proceeding, you must accept our {{ legal_notices }}.
      {% endtrans %}
      {% trans %}Links to all legal notices can also be found in the navigation footer at any time.{% endtrans %}
      <hr>
      <submission-form>
        {{ render_csrf() }}

        <checkbox-field :field="{{ form.accept_legals }}">
          {% trans legal_notices=legal_notices | safe %}I accept the {{ legal_notices }}.{% endtrans %}
        </checkbox-field>
        <submit-field :field="{{ form.submit }}"></submit-field>
      </submission-form>
    </div>
  </div>
{% endblock %}
