{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/manage_record_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html", url=url_for("records.view_record", id=record.id), title=record.title %}
  {% snippet "snippets/breadcrumb.html", url=url_for("records.edit_record", id=record.id), title=title %}
{% endblock %}

{% block content %}
  <confirm-dialog ref="dialog"></confirm-dialog>

  {% snippet "records/snippets/back_to_record.html", record=record, tab="overview" %}

  <submission-form>
    {{ render_csrf() }}
    {% snippet "snippets/resources/submit_edit.html",
               resource=record,
               form=form,
               delete_text=_("Delete record"),
               small=True %}

    <div class="card my-4">
      <div class="card-body">
        {% include "records/snippets/base_record_form.html" %}
      </div>
    </div>

    {% snippet "snippets/resources/submit_edit.html", resource=record, form=form, delete_text=_("Delete record") %}
  </submission-form>
  <form action="{{ url_for('records.delete_record', id=record.id) }}" method="post" ref="delete">
    {{ render_csrf() }}
  </form>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      data() {
        return {
          title: '',
          titleField: kadi.context.title_field,
        };
      },
      methods: {
        async deleteResource() {
          const msg = $t('Are you sure you want to move this record to the trash?');
          const input = await this.$refs.dialog.open(msg);

          if (input.status) {
            this.$refs.delete.submit();
          }
        },
      },
      mounted() {
        this.title = this.titleField.data;
      },
    });
  </script>
{% endblock %}
