{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/manage_record_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html", url=url_for("records.view_record", id=record.id), title=record.title %}
{% endblock %}

{% block content %}
  <confirm-dialog ref="dialog"></confirm-dialog>
  <div data-tour="record" class="card">
    <nav-tabs :tabs="['overview', 'files', 'links', 'permissions', 'revisions'
                      {% if config['EXPERIMENTAL_FEATURES'] %}, 'dashboard'{% endif %}]"
              @change-tab="changeTab"
              ref="navTabs">
      <template #overview-head>
        <strong>{% trans %}Overview{% endtrans %}</strong>
      </template>
      <template #overview-body>
        {% include "records/snippets/view_overview.html" %}
      </template>
      <template #files-head>
        <i class="fa-solid fa-file"></i> {% trans %}Files{% endtrans %}
      </template>
      <template #files-body>
        {% include "records/snippets/view_files.html" %}
      </template>
      <template #links-head>
        <i class="fa-solid fa-link"></i> {% trans %}Links{% endtrans %}
      </template>
      <template #links-body>
        {% include "records/snippets/view_links.html" %}
      </template>
      <template #permissions-head>
        <i class="fa-solid fa-shield-halved"></i> {% trans %}Permissions{% endtrans %}
      </template>
      <template #permissions-body>
        {% include "records/snippets/view_permissions.html" %}
      </template>
      <template #revisions-head>
        <i class="fa-solid fa-clock-rotate-left"></i> {% trans %}Revisions{% endtrans %}
      </template>
      <template #revisions-body>
        {% include "records/snippets/view_revisions.html" %}
      </template>
      {% if config['EXPERIMENTAL_FEATURES'] %}
        <template #dashboard-head>
          <i class="fa-solid fa-chart-line"></i> {% trans %}Dashboard{% endtrans %}
          <span class="badge badge-primary badge-mt-minus ml-1">Beta</span>
        </template>
        <template #dashboard-body>
          {% include "records/snippets/view_dashboard.html" %}
        </template>
      {% endif %}
    </nav-tabs>
  </div>
{% endblock %}

{% block scripts %}
  {{ render_js("app/records/view-record.js") }}
{% endblock %}
