<!-- Copyright 2024 Karlsruhe Institute of Technology
   -
   - Licensed under the Apache License, Version 2.0 (the "License");
   - you may not use this file except in compliance with the License.
   - You may obtain a copy of the License at
   -
   -     http://www.apache.org/licenses/LICENSE-2.0
   -
   - Unless required by applicable law or agreed to in writing, software
   - distributed under the License is distributed on an "AS IS" BASIS,
   - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   - See the License for the specific language governing permissions and
   - limitations under the License. -->

<template>
  <div :class="[columnClass, {'d-none': !size}]">
    <div :class="{'h-100': sameHeight}">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: String,
    size: {
      type: Number,
      default: 1,
    },
    sameHeight: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    columnClass() {
      return `col-lg-${this.size}`;
    },
  },
};
</script>
